.homeProgram-container {
  /* border: solid red; */
  display: flex;
  justify-content:center;
  align-items: flex-start;
  padding: 30px;
}
.homeProgram-wrapper {
  /* border: solid; */
  width: 70%;
  height: 100%;
}
.homeProgram-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.homeProgram-heading > h2 {
  color:black;
  font-size: 30px;
}
.homeProgram-img {
  /* border: solid; */
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeProgram-img>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.homeProgram-heading > button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: 500;
  background-color: var(--customColor1);
}
.homeProgram-icon {
  font-size: 20px;
}
/* ====== STATS SECTION ====== */

.homeProgram-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  padding: 20px 0;
}

.stat-box {
  flex: 1;
}

.stat-box h2 {
  font-size: 70px;
  font-weight: 700;
  color: var(--accentColor);   /* Orange like screenshot */
  margin: 0;
}

.stat-box p {
  margin-top: 10px;
  font-size: 18px;
  color: #444;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .homeProgram-container {
    flex-direction: column;
    padding: 20px;
  }
  .homeProgram-wrapper {
    /* border: solid; */
    width: 100%;
    height: 100%;
  }
  .homeProgram-heading {
    flex-direction: column;
  }
  .homeProgram-img {
  /* border: solid; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.homeProgram-img>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.homeProgram-stats {
  align-items: flex-start;

}
}

