.fee-section {
  background: #f3f2ff;
  padding: 80px 0;
}

.fee-container {
  width: 80%;
  margin: auto;
}

.fee-title {
  margin-bottom: 30px;
  font-size: 30px;
}

/* Table */

.fee-table {
  border: 1px solid #724aff;
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
}

.fee-header {
  background: linear-gradient(90deg, #724aff, #8a63ff);
  color: white;
  text-align: center;
  padding: 18px;
  font-size: 20px;
  font-weight: 600;
}

.fee-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-top: 1px solid #724aff;
  height: 50px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
}
.fee-row div:first-child {
  padding-left: 20px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fee-row div:last-child {
  border-left: 1px solid #724aff;
  padding-left: 20px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Responsive */

@media (max-width: 768px) {
  .fee-title {
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
  }
}
